//Colors
$dark:         #000;
$dark-grey-1:  #3d3d3f;
$dark-grey-2:  #444444;
$dark-grey-3:  #575759;
$light-grey-1: #f2f4f7;
$color-white:  #ffffff;

$main-color-1:      #5f539b;
$main-color-2:      #5067b3;
$main-color-3:      #35c2cd;