.row {

    .container {
        max-width: 75rem;
        margin: 0 auto;
        @include clearfix;
    }

    &--gutter {
        padding-left: 60px;
    }

    .col-5 {
        float: left;
        width: 41.666666%;
    }

    .col-7 {
        float: left;
        width: 58.333333%;
    }
}